# Copyright (c) NukeLab Development Team.
# Distributed under the terms of the BSD-2-Clause License.

# Define the services
services:
  nukelab:
    build: .
    image: nukelab
    environment:
      - NUKELAB_ADMIN=${NUKELAB_ADMIN}
      - DOCKER_NUKELAB_IMAGE=${DOCKER_NUKELAB_IMAGE}
      - DOCKER_NUKELAB_DIR=${DOCKER_NUKELAB_DIR}
      - OAUTH_CLIENT_ID=${OAUTH_CLIENT_ID}
      - OAUTH_CLIENT_SECRET=${OAUTH_CLIENT_SECRET}
      - OAUTH_AUTHORIZE_URL=${OAUTH_AUTHORIZE_URL}
      - OAUTH_TOKEN_URL=${OAUTH_TOKEN_URL}
      - OAUTH_USERDATA_URL=${OAUTH_USERDATA_URL}
      - OAUTH_CALLBACK_URL=${OAUTH_CALLBACK_URL}
      - OAUTH_USERNAME_KEY=${OAUTH_USERNAME_KEY}
      - OAUTH_SCOPE=${OAUTH_SCOPE}
    volumes:
      - ${DOCKER_NUKELAB_HOST:-/var/run/docker.sock}:/var/run/docker.sock # socket
      - nukelab-data:/data # data

    ports:
      - "8000:8000" # Nukelab web server port
    networks:
      - nukelab-network # Use the nukelab network for internal communication

volumes:
  nukelab-data:
    name: nukelab-data

# Define the networks
networks:
  nukelab-network:
    name: nukelab-network