{% from "components/macros.html" import modal %}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    {% include "components/head.html" %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    <noscript>
      <div id='noscript'>
        NukeLab requires JavaScript.
        <br>
        Please enable it to proceed.
      </div>
    </noscript>
    {% block nav_bar %}
      {% include "components/nav.html" %}
    {% endblock nav_bar %}
    {% block announcement %}
      {% if announcement %}
        <div class="container text-center announcement alert alert-warning">{{ announcement | safe }}</div>
      {% endif %}
    {% endblock announcement %}
    <div class="flex-grow-1">
    {% block main %}
    {% endblock main %}
    </div>
    {% block footer %}
      {% include "components/footer.html" %}
    {% endblock footer %}
    {% call modal('Error', btn_label='OK') %}
      <div class="ajax-error alert-danger">The error</div>
    {% endcall %}
    {% include "components/scripts.html" %}
    {% block script %}
    {% endblock script %}
  </body>
</html>