<div class="bg-body-tertiary small p-3 mt-auto">
    <div class="container">
        <p>For More Details: <a href="https://nukehub.org/nuke-lab" class="text-decoration-none">nukehub.org/nuke-lab</a></p>
        <p>Get Community Support: <a href="https://talk.nukehub.org" class="text-decoration-none">talk.nukehub.org</a></p>
        <p>Privacy Policy: <a href="https://nukehub.org/privacy-policy" class="text-decoration-none">nukehub.org/privacy-policy</a></p>
        <p>Terms of Service: <a href="https://nukehub.org/terms-of-service" class="text-decoration-none">nukehub.org/terms-of-service</a></p>
        <p>Powered By: <a href="https://www.mist.ac.bd/" class="text-decoration-none">mist.ac.bd</a></p>
        <hr>
        <p class="text-center text-muted">&copy; {{ current_year }} NukeLab. All rights reserved.</p>
    </div>
</div>