<meta charset="utf-8">
<title>
  {%- block title -%}
    NukeLab
  {%- endblock title -%}
</title>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block stylesheet %}
  <link rel="stylesheet"
        href="{{ static_url('css/style.min.css') }}"
        type="text/css" />
{% endblock stylesheet %}
{% block favicon %}
  <link rel="icon" href="{{ static_url('favicon.ico') }}" type="image/x-icon">
{% endblock favicon %}
{% block meta %}
  <meta name="description" content="NukeLab">
  <meta name="keywords" content="NukeLab, NukeHub">
{% endblock meta %}
<link rel="manifest" href="{{ static_url("manifest.json") }}">
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener("load", () => {
            navigator.serviceWorker.register('{{ static_url("service-worker.js") }}').then(function(registration) {
                console.log('ServiceWorker registered');
              }).catch(function(err) {
                console.log('ServiceWorker error: ', err);
              });
        })
    }
</script> 
